@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-bg-color: #c5e4e7;
    --primary-color: #00474B;
    --secondary-color: #26c2AD;
    --light-bg-color: #f3f8fb;
    --text-color: white;
    --font-family: "Space Mono", serif;
    --border-radius: 0.35rem;
    --gap-size: 3rem;
}

*{
    padding: 0;
    margin: 0;
}

body{
    
    background-color: var(--main-bg-color);
    font-family: var(--font-family);
    
}

h1{
    text-align: center;
    font-weight: 500;
    margin: 1%;
    font-size: 2rem;
    color: var(--primary-color);
    
}

.tipInput h2{
    color: #6F7A79;
}

main {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 2em;
    background-color: var(--text-color);
    width: 57.5rem;
    height: 29.7rem;
    border-radius: 1.3rem;
}

input{
    width: 25rem;
    height: 2.75rem;
    background-color: var(--light-bg-color);
    border: none;
    border-radius: var(--border-radius);
    
}




.button{
    width: 7.25rem;
    height: 3rem;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--font-family);
    margin: 0.3rem;

}



.tipResult{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 1.3rem;
    color: var(--text-color);
    padding: 2.3em;
    width: 25.6rem;
    gap: var(--gap-size);
}

.tipInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3em ;
}

.reset{
    width: 25rem;
    height: 2.75rem;
    margin-top: 5rem;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    font-weight: 900;
    font-family: var(--font-family);
    font-size: 1.3rem;

}

.people{
    position: relative;
}

.people i{

    position: absolute;
    left: 1em;
    top: 3rem;
}